* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

button {
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

body {
  display: grid;
  grid-template-areas: 
    "header main"
    "header main";
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: mintcream;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}  

aside {
  grid-area: aside
}

.quiz-title {
  font-size: 52px;
  text-align: center;
  color: mediumseagreen;
  margin: 50px;
}

.add-participant {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
}

.add-participant-input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 4px;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid mediumseagreen;
  outline: none;
}


.add-participant-btn {
  font-size: 18px;
  width: 100px;
  height: 50px;
  color: #ffff;
  font-weight: bold;
  background-color: mediumseagreen;
  border-radius: 4px;
}

.questions-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 810px;
  height: 645px;
  margin: 0 auto;
}

.flipper-container {
  perspective: 150px;
}

.flipper-container, .front, .back {
	width: 150px;
  height: 150px;
  cursor: pointer;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 50px;
  background-color: mediumseagreen;
  border-radius: 4px;
}

.back {
	transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: mediumseagreen;
  font-size: 23px;
  text-align: center;
  border: 2px solid mediumseagreen; 
  border-radius: 4px;
}

.participants-list {
  width: 316px;
  margin: 0;
  margin: 30px auto 0;
}

.participant {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  align-items: center;
  margin: 10px auto;
}

.participant-name {
  color: mediumseagreen;
  font-size: 22px;
}

.participant-score {
  outline: none;
  width: 50px;
  height: 100%;
  text-align: center;
  border-radius: 4px;
  border: 2px solid mediumseagreen;
}

.code {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.code-title {
  font-size: 32px;
  color: #fff;
}

.code-close-btn {
  color: mediumseagreen;
  margin-left: 20px;
  cursor: pointer;
}